# Node.js
node_modules/
npm-debug.log*
**/*dist


# Local env files
.env
.env.local

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc


# macOS files
.DS_Store
Thumbs.db
desktop.ini

# Samsung files
.nomedia
